.green{
color: rgb(0,176,80) ;
}
.blue{
color: rgb(0,118,174);
}
.red{
color: rgb(233,7,13,1);
}
.decox{
	color: white;
}
.salut{
	color: white;
}
.pseudo{
	color:#01EB2B;
}
.profil{
	display: flex;
    flex-direction: column;

}
.bonjour{
	flex:7;
	display: flex;
	justify-content:center;
}
.boutonh{
	display: flex;
	width: 110px;
	height: 30px;
	font-size: 15px;
	color:white;
	background-color: red;
	border-bottom: solid;
	border-bottom-color: rgb(140,30,21);
	border-radius: 2px;
	margin-right: 12px;
	align-items: center;
	padding-left: 5%;
	font-size: 22px;
}
.boutonpc{
	flex:7;
	display: flex;
	justify-content:spacearound;
}
.px{
	flex:0.2;
}

.bouton
{
	background-color:rgba(233,7,13,1);
	text-decoration: none;
	color: white;
	background-color:rgba(233,7,13,1);
	text-decoration: none;
	color: white;

	height: 21px;
    border: 8px red outset;
}
.bouton3
{
	background-color:rgba(233,7,13,1);
	text-decoration: none;
	color: white;
    height: 60px;
    border-top-color: red;
    border-left-color: red;
    border-bottom-color: rgb(140,30,21);
    font-size: 32px;
    font-family:Comic Sans MS;
}
}
.boutonp3{
	display:flex;
	justify-content: center;
}
.bouton2{
	background-color: rgb(0,118,174);
	display: flex
	justify-content: space-between;
	text-decoration: none;
	color: white ;
	width: 78px;
	height: 23px;
	border-bottom: solid 4px;
	border-bottom-color: rgb(1,12,21);
	padding-top: 5px;
	border-radius: 0px 0px 3px 3px;
}
.puce
{	border-radius: 120px 0px 0px 0px;
	flex:20;
	display: flex;
	justify-content: space-around;
   list-style-type:none;
}

.barre{	  
}
.coin{
	width: 50px;
	height: 15px;
	display: flex;
	flex-direction: column;
}
.lien
{
	text-decoration: none;
	color: white;
	font-size: 20px;
}
.decox{
	text-decoration: none;
	color:rgb(0,118,174);
}
.titrevert{
	color:rgb(0,176,80);
	display:flex;
	justify-content: center;
}
.titrebleu{
	color:rgb(0,118,174);
	display:flex;
	justify-content: center;
}
.titrebleu2{
	color:rgb(0,118,174);
	display:flex;
	
}
.titrerouge{
	color:rgba(233,7,13,1);
	display:flex;
	justify-content: center;
}

.spacearound{
	display: flex;
	justify-content: space-around;
}

.centrerco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.centrer{
	display: flex;
	justify-content:center;
}

.search{
	display: flex;
 	height: 60px;
 	background-color: rgb(0,118,174);
 	align-items: center;
 	justify-content:space-around;
}
.searchf{
	display: flex;
	flex:0.9995;
	background-color: rgb(0,118,174);
	justify-content: space-around;

}
select{
	color: rgb(0,118,174);
	height: 28px;
	font-size: 16px;
}
input{
	color: rgb(0,118,174);
	height: 22px;
	font-size: 16px;
}
.pss{
	display:flex;
	justify-content: center;

}
.titrevert2{
	color:rgb(0,176,80);
	display:flex;
	justify-content: center;
	font-size: 27px;
}
.space{
	height: 12px;
}
.space2{
	width: 520px;
}
.barre_de_navigation{
	background-color: #0178B8;
	height: 45px;
	border-radius: 120px 0px 0px 0px;
	width: 100%;
}
.head{
	display: flex;
	margin: 0px;
	margin-right: 0px;
}
.right_head{
	display: flex;
	flex-direction: column;
	width: 83%;
	height: 150px;
	background-image: url(image/fond.jpg);
}
.logo{
	width: 17%;
	height:150px;
}
.zone_insription_et_connexion{
	display: flex;
	height: 80px;
	width: 30%;
	margin-top: 35px;
	margin-left: 68%;
	margin-bottom: 15px;
}
a{
    text-decoration: none;
	color: white;
	text-align: center;
}
body{
	background-attachment:fixed;         /*Permet de "fixer" le fond, pour ne pas qu'il bouge en même temps que le texte (fixed, scroll)  scroll : l'image de fond défile avec le texte (par défaut).*/
   background-repeat:    no-repeat;     /* Gère la répétition du fond :      no-repeat : le fond ne sera pas répété. L'image sera donc unique sur la page.        repeat-x : le fond sera répété uniquement sur la première ligne, horizontalement.   repeat-y : le fond sera répété uniquement sur la première colonne, verticalement.   repeat : le fond sera répété (par défaut) */
   background-position:  center; 
   text-align: center;
}
